<body>

    {% if request.user.is_authenticated %}
    <h6> {{owner.username}}님의 파티룸 / 생일:{{owner.birthday}}</h6>
    <iframe height='400' width='250'></iframe><br><br>
    <a href={% url 'cakes:cakemaker' %}><input type='button' value='꾸미기'></a><br>
    <button onclick="copyCurrentUrl()">초대장 공유</button>
    <script>
        function copyCurrentUrl() {
            const currentUrl = window.location.href;
            const tempInput = document.createElement('input');
            tempInput.value = currentUrl;
            document.body.appendChild(tempInput);
            tempInput.select();
            tempInput.setSelectionRange(0, 99999);

            document.execCommand('copy');

            document.body.removeChild(tempInput);

            alert('초대장 URL이 복사되었습니다: ' + currentUrl);
        } 
    </script><br> <!--파티룸 초대장 url 공유 기능 예시--> <!--visitor입장에서의 파티룸 url 복사를 해야하는데 visitor입장에서의 파티룸 아직 미구현-->
    <input type='button' value='기타 설정'>

    {% else %}
    <h3> !로그인이 필요한 서비스 입니다! </h3>
    <a href={% url 'accounts:login' %}><input type='button' value='확인'></a>
    {% endif %}

<body>