<body>

    {% if request.user.is_authenticated %}
    <h6> {{owner.username}}님의 파티룸 / birthday:{{birthday}} / D-day!</h6>
    <iframe height='400' width='250'></iframe><br><br>
    <a href={% url 'cakes:cakemaker' owner.id %}><input type='button' value='꾸미기'></a><br>
    <button id="copyButton">초대장 공유</button>
    <script>
        document.getElementById('copyButton').addEventListener('click', function() {
            const currentUrl = window.location.href;
            const newUrl = currentUrl.replace('/ownroom/', '/visit/');
            const tempInput = document.createElement('input');
            tempInput.value = newUrl;
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand('copy');
            document.body.removeChild(tempInput);
    
            alert('URL이 복사되었습니다: ' + newUrl);
        });
    </script>
    <br> 
    <a href={% url 'contacts:contact_list' %}><input type='button' value='친구목록'></a><br>
    <a href={% url 'cakes:message_open' owner.id %}><input type='button' value='메시지 확인'></a><br><br><br><br>
    <a href={% url 'main' %}><input type='button' value='메인으로'></a>
    {% else %}
    <h3> !로그인이 필요한 서비스 입니다! </h3>
    <a href={% url 'accounts:login' %}><input type='button' value='확인'></a>
    {% endif %}

<body>